<div class="sidebar py-3" id="sidebar">
  <ul class="list-unstyled">
    <li class="sidebar-list-item">
      <a class="sidebar-link text-muted" href="/admin" role="button">
        <svg class="svg-icon svg-icon-md me-3">
          <use
            xlink:href="/backend/icons/orion-svg-sprite.71e9f5f2.svg#real-estate-1"
          ></use></svg
        ><span class="sidebar-link-title">Dashboard </span></a
      >
    </li>
    <li class="sidebar-list-item">
      <a class="sidebar-link text-muted" href="/admin/user" role="button">
        <svg class="svg-icon svg-icon-md me-3">
          <use
            xlink:href="/backend/icons/orion-svg-sprite.71e9f5f2.svg#man-1"
          ></use></svg
        ><span class="sidebar-link-title">Manajemen User </span></a
      >
    </li>
    <li class="sidebar-list-item">
      <a class="sidebar-link text-muted" href="/admin/product" role="button">
        <svg class="svg-icon svg-icon-md me-3">
          <use
            xlink:href="/backend/icons/orion-svg-sprite.71e9f5f2.svg#paperback-book-1"
          ></use></svg
        ><span class="sidebar-link-title">Manajemen Produk </span></a
      >
    </li>
  </ul>
</div>
